body{
    margin: 0;
    padding: 0
}


#center{
    display: flex;
    justify-content: center;

    
   

}

#countdown{
    color:rgb(0, 4, 255);
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -100%);
    font-size: 200px;
  
    text-transform: uppercase;
    
    
}

#bckground-image{
object-fit: cover;
   
   
   
}